
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Pagina de Cadastro</title>
</head>
<body>
    <div class="jumbotron p-3">
        <div class="well text-center">
            <h1>Pagina de cadastro</h1>
            <hr>
            <form method="POST">
                <table>

                    <tr>
                        <td>Nome</td>
                        <td><input type="text", name="name"></td>
                    </tr>
                    <tr>
                        <td>Telefone</td>
                        <td><input type="text", name="telefone"></td>
                    </tr>
                    <tr>
                        <td>CPF</td>
                        <td><input type="text", name="cpf"></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><input type="text", name="email"></td>
                    </tr>
                </table><br>
                <input type="submit" value="Cadastrar"> 
                
            </form><br>
            <a href="{{ url_for('index')}}">Voltar</a>
            <a href="{{ url_for('lista')}}">Listar</a>
        </div>
    </div>
</body>
</html>
